* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
  --ff-h1-h2: 'Montserrat', sans-serif;
  --ff-p: 'DM Sans', sans-serif;
  --ff-p-message: 'Dancing Script', cursive;
  --ff-button: 'DM Sans', sans-serif;

  --bg-body: linear-gradient(45deg, #190361 0%, #B0F 100%);
  --bg-hero:#FFF;
  
  --fc-h1-h2-p:#34355B;
  --fc-message:#000;
  --bg-message: #E4EDF1;
  --bg-button: #FF9500;
  --fc-button: #FFF;


  --fs-body: 1.6rem;
  font-size: 62.5%;
}

body {
  font-size: var(--fs-body);
  background: var(--bg-body)  no-repeat;
  height: 81.8vh;
  animation: gradient 10s ease infinite;
  background-size: 200% 200%;
}

.hide {
  display: none;
}

.hero {
  text-align: center;
  margin: 23.9rem auto 0;
  padding: 4.8rem 6.4rem;

  width: 42.8rem;
  height: 42.4rem;
  background-color: var(--bg-hero);
  border-radius: 5px;
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

 h1 {
  font-family: var(--ff-h1-h2);
  color: var(--fc-h1-h2-p);
  font-size: 2.4rem;
  font-weight: 700;
  font-style: normal;
  line-height: normal;
}

p {
  margin: 1.4rem 0 2.0rem 0;
  font-family: var(--ff-p);
  color: var(--fc-h1-h2-p);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

main #open-cookie {
  background-color: transparent;
}


#cookie {
  margin-left: -4.3rem;
  cursor: pointer;
}

#cookie:hover {
  animation: shakecookie 0.6s infinite;
}

.hero-open-cookie {
  margin: 16.9rem auto 0;
  width: 42.8rem;
  height:56.4rem;
  padding: 4.8rem 6.4rem;

  text-align: center;
  border-radius: 5px;
  background-color: var(--bg-hero);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

h2 {
  font-family: var(--ff-h1-h2);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  color: var(--fc-h1-h2-p);
  line-height: normal;
}

.hero-open-cookie p {
  font-family: var(--ff-p-message);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: var(--fc-message);
  background: var(--bg-message);
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
  padding: 1.0rem;

  animation: showMessage 2s;
}




button, #open-other-cookie {
  display: block;
  width: 17.4rem;
  height: 5.2rem;
  margin: 1.7rem 6.3rem 0;
  font-family: var(--ff-button);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  color: var(--fc-button);
  background: var(--bg-button);
  
  border-radius: 4px;
  border: none;
  
  transition: .6s;
  cursor: pointer;
}

#open-other-cookie:hover {
  filter: brightness(60%) saturate(55%);
}

@keyframes shakecookie {
  0% {
    transform: translateX(1.5rem);
  }
  10% {
    transform: translateX(-1.5rem);
  }
  20% {
    transform: translateY(1.5rem);
  }
  30% {
    transform: translateY(-1.5rem);
  }
  40% {
    transform: translateX(1.5rem);
  }
  50% {
    transform: translateX(-1.5rem);
  }
  60% {
    transform: translateY(1.5rem);
  }
  70% {
    transform: translateY(-1.5rem);
  }
  80% {
    transform: translateX(1.5rem);
  }
  90% {
    transform: translateX(-1.5rem);
  }
  100% {
    transform: translateY(1.5rem);
  }
}

@keyframes showMessage {
  0% {
    opacity: 0;
    transform: translateY(100%)
  }
  
  50% {
    transform: scale(1.2);
  }

}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}